body,html {
 padding: 0px;
 margin: 0px;
 direction: rtl;
overflow-x: hidden;
}
*{
    font-family: 'Cairo', sans-serif;
}
.main-container{
    width: 100%;
}
.main-container a{
    text-decoration: none;
    transition:all 0.5s ease;
}
ul{
    list-style-type: none;
}
 .clearfix {
    clear: both;
}
.container {
    width: 90% !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
}
.wa-chat-bubble-close-btn {
    cursor: pointer;
    position: absolute;
    right: unset !important;
    left: 20px !important;
    top: 20px;
}
.wa-chat-box-brand {
    margin-right: 20px !important;
}
.wa-chat-box-poweredby {
    display: none !important;
}
.top-bar{
    background-color: #32502E;
    height: 45px;
    align-items: center;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top-bar-inner{
    position: relative;
    display: flex;
    justify-content: end;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    align-items: center;
}
ul.login-links-mobile {
    position: absolute;
    top: 39px;
    left: 0px;
    background-color: #f3efcc;
    padding: 15px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    display: none;
}
.login-links-mobile li{
    margin-bottom: 5px;
    font-weight: bold;
}
.login-links-mobile li a {
    color: #e55724;
    font-size: 14px;
}
.fas.fa-sign-out-alt.top-bar-icon {
    font-size: 20px;
    color: #f3efcc;
    cursor: pointer;
    display: none;
    margin-left: 0;
}
.show-login{
    display: block !important;
}
.top-bar-icon {
    margin-left: 15px;
/*    align-items: center;*/
}
.top-bar-icon img {
    width: 25px;
}
a.phone-number {
    color: #fff;
    direction: ltr;
/*    margin-right: -100px;*/
    font-size: 18px;
}
a.phone-number:hover{
    color: #EE8C00;
}
.logo img {
    width: 100%;
    min-width: 175px;

}
.main-header {
    height: 100px;
    background-color: #F3EFCC;
    display: flex;
    align-items: center;
}
.login-links a {
    color: #fff;
    margin: 0px 10px;
}
.login-links a:hover{
    color: #EE8C00;
}
.main-header-left {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: center;
}
ul.main-menu {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row;
    padding-right: 0px;
}
ul.main-menu li a {
    color: #000;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
}
ul.main-menu li a:hover{
    color: #EE8C00;
}
a.green-button {
    background-color: #32502E;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    width: 25%;
    height: 50px;
    text-align: center;
    padding: 10px;
}
a.green-button:hover, a.contact-us-btn:hover {
    background-color:#EE8C00;
    color: #fff;
}
.mobile-menu {
    position: relative;
}
.mobile-menu ul.main-menu {
    position: absolute;
    display: inline-block;
    width: 250px;
    background-color: #32502e;
    right: -500px;
    display: none;
    top: 38px;
    z-index: 9999;
    text-align: center;
    height: 100vh;
    padding: 0px;
  transition: all .6s ease-in-out;
}
.mobile-menu ul.main-menu li a {
  color: #fff;
    font-size: 17px;
}
.mobile-menu ul.main-menu li{
    padding: 15px 0px 8px 0px;
}
.mobile-menu ul.main-menu li a:hover{
  color: #EE8C00;
}
.mobile-menu ul.main-menu li:first-child {
    padding-top: 30px;
}
img.hamburger-menu {
    display: none;
}
.main-header-right {
    display: flex;
    justify-content: center;
}
.mobile-menu {
    display: flex;
/*    justify-content: center;*/
}
.show{
    right: -35px !important;
  transition: all .6s ease-in-out;
}
.container-fluid.hero-section {
    padding: 0px !important;
}
.owl-one .item{
    position: relative;
    height: 90vh;
    min-height: 730px;
}
.item.item1{
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 65%)), url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item.item2{
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 65%)), url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item.item3{
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 65%)), url(../img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.owl-one button.owl-prev{
    position: absolute;
    right: 20%;
    bottom: 60px;
    width: 60px !important;
    height: 60px !important;
    background-color: #fff3 !important;
}
.owl-one button.owl-prev span, button.owl-next span{
  font-size: 80px;
    position: absolute;
    top: -40px;
    right: 18px;
    color: #fff;
    font-family: system-ui;
}
.owl-one button.owl-next{
    position: absolute;
    right: 28%;
    bottom: 60px;
    width: 60px !important;
    height: 60px !important;
    background-color: #fff3 !important;
}
.item-inner {
    height: 100%;
    display: flex;
    align-items: center;
}
h1.carousel-h1 {
    color: #fff;
    font-weight: bold;
    line-height: 72px;
}
p.carousel-p {
    color: #fff;
}
p.carousel-p2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.carousel-p2 i.fas.fa-arrow-left {
    margin-right: 10px;
}
.form-container {
    background-color: #f3efccf2;
    padding: 40px 30px !important;
    border-radius: 10px;
}
h2.form-h1 {
    font-weight: bold;
}
.form-group {
    margin: 20px 0px;
}
.form-group.name-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-group.name-line input {
   width: 48%;
}
form.carousel-form input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #919191;
}
form.carousel-form input:focus {
    box-shadow: 0 0 1.5px 1px #e04e117a;
}
form.carousel-form textarea:focus {
    box-shadow: 0 0 1.5px 1px #e04e117a;
}
form.carousel-form textarea {
    border-radius: 10px;
    border: 1px solid #919191;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form.carousel-form ::placeholder{
    color: #B6B6B6;
}


/**** carousel-form1 ******/
/*the container must be positioned relative:*/
.form1-select {
  position: relative;
  font-family: Arial;
}

.form1-select select {
  display: none; /*hide original SELECT element:*/
}

.form1-select .select-selected {
background-color: #fff;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #919191;
}

/*style the arrow inside the select element:*/
.form1-select .select-selected:after {
  position: absolute;
  content: "";
  top: 21px;
    left: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #6d6d6d transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.form1-select .select-selected.select-arrow-active:after {
  border-color: transparent transparent #6d6d6d transparent;
  top: 15px;
}

/*style the items (options), including the selected item:*/
.form1-select .select-items div,.form1-select .select-selected {
  color: #B6B6B6;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.form1-select .select-items {
    position: absolute;
    background-color: #fff;
    height: 210px;
    overflow: auto;
    border-radius: 10px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.form1-select .select-hide {
  display: none;
}

.form1-select .select-items div:hover, .form1-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/**** carousel-form1 ******/
.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button.form1-btn {
    width: 75%;
    background-color: #EE8C00;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}
button.form1-btn:hover {
    color: #fff;
    background-color: #32502E;
}
.upload-file-label {
    cursor: pointer;
    background-color: #ee8c00;
    color: #fff;
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    text-align: center;
}
.upload-file-label:hover {
     color: #fff;
    background-color: #32502E;
}
#upload-file {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.second-section {
    padding: 50px !important;
}
h2.title {
    margin-bottom: 30px;
    line-height: 40px;
    font-weight: bold;
}
h4 {
    font-weight: bold !important;
}
.s2-image-container img {
    width: 100%;
    margin-bottom: 10px;
}
.col-md-6.s2-image-container {
    padding: 5px;
}
.second-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px !important;
}

.third-section {
    padding: 70px 0px;
    background-color: #F3EFCC;
}
.third-section-inner {
    justify-content: center;
}

.service-icon {
    width: 100px;
    height: 100px;
    background-color: #AEC7AA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}
.service-icon-number {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #aec7aa;
    color: white;
    text-align: center;
top: -12px;
    right: -9px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.services-wrap {
    margin-top: 60px !important;
    display: flex;
    flex-direction: row;
}
.service-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.service-wrap h4 {
    margin-bottom: 15px;
}
.forth-section {
    padding: 70px 0px;
}

/*
.fifth-section-row {
    min-height: 750px;
}
*/

.fifth-section-col2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 750px;
}
.fifth-section-col1 {
    background-color: #f9f7e5;
    padding: 100px 50px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.fifth-section-icon {
    width: 100px;
    height: 100px;
    background-color: #ECE7B4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.fifth-section-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.fifth-section-text {
    text-align: left;
    width: calc(100% - 100px)!important;
    padding-left: 20px;
    margin:15px 0px;
}
.fifth-section-row2 {
    flex-direction: row-reverse;
}
.fifth-section-row2 .fifth-section-wrap {
    flex-direction: row;
}
.fifth-section-row2 .fifth-section-text {
    text-align: right;
    padding-right: 20px;
    padding-left: unset;
}
p.p1 {
    color: #6D6D6D;
}
.sixth-section{
    padding: 70px 20px !important;
}
.seventh-section {
    padding: 70px 20px !important;
    background-color: #ECE7B4;
    text-align: center;
}
.a-wrap {
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    height: 50px;
    display: flex;
    max-width: 370px;
}
a.contact-us-btn {
    background-color: #32502E;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.speech-bubble {
	position: relative;
	background: #DADADA;
	border-radius: 10px;
    padding: 30px 10px;
    margin-bottom: 30px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 20%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-top-color: #DADADA;
	border-bottom: 0;
	border-right: 0;
	margin-left: -12px;
	margin-bottom: -24px;
}
.testemonial h6 {
    font-weight: bold;
}
.testemonials {
    margin-top: 50px !important;
}
.footer {
    padding: 70px 0px;
    background-color: #32502E;
}
h5.footer-title {
    color: #fff;
    margin-bottom: 20px;
}
ul.footer-list {
    padding: 0px;
}
.social-media-footer a.phone-number {
    margin-right: 0px;
}
.social-media-footer a.top-bar-icon {
    margin-right: 10px;
}
ul.footer-list li{
    padding: 10px 9px;
}
ul.footer-list li a {
    color: #fff;
}
ul.footer-list li a:hover {
    color: #EE8C00;
}
.social-media-footer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}
.container-fluid.login-section {
    height: 80vh;
    min-height: 700px;
    background-image: url(../img/login-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-form-container {
    background-color: #ffffffd1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 10px 10px 20px 0px;    
    padding: 100px 50px !important;
    max-height: 900px;
}
.login-section .item-inner {
    padding: 30px;
}
h1.login-h1 {
    margin: 40px 0px;
    font-weight: bold !important;
}
.login-form-form-group  {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #919191;
    margin-bottom: 20px;
}
.login-form-form-group input.input-field {
    width: 100%;
    height: 40px;
    background-color: unset;
    border: none;
}
.login-form-form-group input.input-field:focus {
    border: none;
    outline: none;
}
input#password-field {
    width: 90%;
}
.field-icon.toggle-password {
    width: 8%;
    color: #6D6D6D;
    cursor: pointer;
}
button.btn.btn-default.login-form-btn {
    width: 100%;
    margin: 20px 0px;
    border-radius: 30px;
    background-color: #32502E;
    color: #fff;
    padding: 15px 10px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif !important;
}
button.btn.btn-default.login-form-btn:hover {
    background-color: #EE8C00;
    color: #fff;
}
p.form-p {
    color: #919191;
    margin: 15px 0px 0px;
    font-size: 20px;
}


p.form-p span a{
    color: #32502E;
}
p.form-p span a:hover{
    color: #EE8C00;
}
.name-holder {
    display: flex;
    justify-content: space-between;
    border-bottom: 0px;
}
.name-holder input.input-field {
    width: 45% !important;
    border-bottom: 1px solid #919191;
}
.name-holder input.input-field:focus{
    border-bottom: 1px solid #919191;
}

.signup-section.container-fluid.login-section {
    min-height: 920px;
}
/******************sign up select***********************/
#signup-form .select-selected {
    width: 100%;
    background-color: unset;
    border-bottom: 1px solid #919191;
    border-radius: 0;
    color: #787878;
}
#signup-form .select-items div, #signup-form .select-selected {
    color: #787878;
    padding: 8px 5px;
}
#signup-form .select-items {
    border-radius: 0;
}
div#signup-form {
    margin: 20px 0px;
}
.login-form-form-group textarea.form-control {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.login-form-form-group.textarea-signup {
    height: auto;
    position: relative;
}
.login-form-form-group textarea.form-control:focus{
    box-shadow: unset;
    outline: none !important;
}
.signup-files {
    position: absolute;
    bottom: 5px;
    left: 0;
}
.signup-files label {
    font-size: 15px;
    cursor: pointer;
    color: #919191;
}
i.fas.fa-paperclip {
    transform: rotate(-42deg);
    color: #787878;
}
.signup-wrap {
    position: relative;
}

.confirmation-message {
    position: absolute;
    width: 85% !important;
    background-color: #32502ed1;
    height: 700px;
    z-index: 99;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmation-message-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}
.confirmation-message i.fas.fa-check {
    font-size: 130px;
    color: #fff;
    margin-bottom: 30px;
}
.confirmation-message i.fas.fa-times-circle {
    position: absolute;
    font-size: 35px;
    color: #f3efcc;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.confirmation-message h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 35px;
    text-align: center;
}
.confirmation-message h6 {
    color: #fff;
    font-size: 22px;
    text-align: center;
}
.confirmation-message-show{
    display: none;
}
.container-fluid.login-section.admin-login {
    height: 100vh;
    background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 65%)), url(../img/admin-bg.png);
    position: relative;

}
.admin-login-container {
    background-color: #32502ed1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 10px 10px 20px 0px;    
    padding: 100px 50px !important;
    max-height: unset;
    position: relative;
}
h1.login-h1.admin-login {
    color: #fff;
}

#admin-login .login-form-form-group {
    border-bottom: 1px solid #fff;
}
#admin-login input.input-field {
    color: #fff;
}
#admin-login input.input-field::placeholder{
    color:#fff;
}
#admin-login .field-icon.toggle-password {
    color:#fff;
}
#admin-login button.btn.btn-default.login-form-btn {
    border: 1px solid#fff;    
    background-color: #32502e99;
}
.admin-login-container p.form-p {
    color: #fff;
}
.admin-login-container p.form-p span a {
    color: #fff;
}
.logout {
    position: absolute;
    right: 50px;
    display: flex;
    bottom: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: #fff;
    font-size: 20px;
}
.logout .fa-sign-out-alt {
  margin-left: 10px;  
}
.login-logo {
    position: absolute;
    left: 0px;
    bottom: 34px;
    background-color: #32502ed1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 6px;
    font-size: 20px;
}
.login-logo-mobile {
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: absolute;
    display: none;
    top: 40px;
}
.login-logo-mobile img {
    width: 90px;
}

/************* dashboard *****************/

.row.dashboard-container {
    background-color: #32502E;
}
.col-4.tabs-container {
    height: 100%;
    background-color: #32502E;
    min-height: 100vh;
}
.tabs-content-container.col-8 {
/*    padding: 30px 50px;*/
    background-color: #f1f1f1;
     padding: 0px;

}

.tab {
    width: 100%;
    height: 100%;
}
.controlpanel {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

/* Change background color of buttons on hover */

.tab button:hover, .tab button.active {
  color: #EE8C00;
}


/* Style the tab content */
.tabcontent {
    width: 100%;
/*    height: 100vh;*/
}

.tab button {
    display: flex;
    align-items: center;
/*    flex-wrap: wrap;*/
    justify-content: flex-start;
    text-align: center;
}

.tablinks p {
    margin-bottom: 0px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    text-align: right;
    margin-right: 15px;
}
.extra-div {
    width: 30%;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
i.fas.fa-bars {
    font-size: 27px;
    color: #fff;
    cursor: pointer;
    width: 30%;
}
.controlpanel p {
    color: #fff;
    font-weight: bold;
    width: 60%;
    margin-bottom: 0;
    font-size: 20px;
    text-align: right;
}

.right-sidebar-open {
    width: 20% !important ;
}
.right-sidebar-open .controlpanel p, .right-sidebar-open .tablinks p, .right-sidebar-open h4.panel-title{
    display: block;
}
.right-sidebar-closed i.fas.fa-bars {
    width: 100%;
}
.right-sidebar-closed .controlpanel p,.right-sidebar-closed .tablinks p, .right-sidebar-closed h4.panel-title{
    display: none;
}
.right-sidebar-closed{
    width: 80px !important;
}
.right-sidebar-closed .tab button {
    justify-content: center;
}
.left-container-width1{
    width:80% !important ;
}
.left-container-width2{
    width: -webkit-calc(100% - 80px);
    width:    -moz-calc(100% - 80px);
    width:         calc(100% - 80px)!important ;
}
ul.sub-tabs {
    padding: 0px;
    margin: 0px;
}
ul.sub-tabs button {
    padding: 0;
}
ul.sub-tabs button p {
    font-size: 13px;
    margin-bottom: 15px;
}
.panel {
    margin-bottom: 0px;
    background-color: transparent !important;
    border: 0 !important;
    border-radius:0 !important;    
    box-shadow:unset !important;
}
.panel-group {
    margin-bottom: 0px !important;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px !important;
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0px !important;
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
}
.list-group-item {
    padding: 0;
    background-color: transparent !important;
    border: none !important;
}

.panel-heading a {
    text-decoration: none;
}
.panel-heading h4 {
    position: relative;
}
.panel-heading h4:after {
    content: '' !important;
    top: -5px;
    content: '';
    position: absolute;
    left: -7px;
    background: url(../img/down-arrow.png);
    background-position: center;
    background-size: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;   
}
.panel-heading h4 a:hover, .panel-heading h4:hover, .panel-heading h4 a:focus {
    text-decoration: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0 !important;
}
h4.panel-title {
    font-size: 18px !important;
    font-weight: 500 !important;
    width: 60%;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
h4.panel-title:hover {
     color: #EE8C00;
}

.personal-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #32502E;
    margin-right: 10px;
}
.navbar {
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    background-color: #fff;
    
}
.navbar-inner {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
}
.personal-info-wrap {
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.search-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
}
.admin-info {
    display: flex;
    flex-direction: row-reverse;
}

p.name {
    color: #32502e;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}
i.fas.fa-cog {
    font-size: 18px;
    color: #32502e;
    margin: 0px 20px;
    cursor: pointer;
    transition:all 0.5s ease;
}
i.fas.fa-bell {
    font-size: 18px;
    color: #32502e;
    cursor: pointer;
    transition:all 0.5s ease;

}
i.fas.fa-cog:hover, i.fas.fa-bell:hover {
    color: #EE8C00;
}
form.navbar-form {
    border: 1px solid #828282;
    border-radius: 15px;
    width: 60%;
    max-width: 450px;
    padding: 0px 10px;

}
button.btn.btn-default {
    border: 0;
}
input.form-control {
    border: none;
    box-shadow: unset;
    outline: unset;
}
input.form-control:focus {
    border: none;
    box-shadow: unset;
    outline: unset;
}
.dashboard-search button.btn.btn-default {
    width: 100%;
}
.dashboard-search button.btn.btn-default:hover, .dashboard-search button.btn.btn-default:focus  {
    background-color: unset;
    border: 0;
    box-shadow: unset;
    outline: unset;
}
i.glyphicon.glyphicon-search {
    color: #c8c8c8;
    position: relative;
}
i.glyphicon.glyphicon-search:after {
    color: #c8c8c8;
    content: '';
    position: absolute;
    width: 20px;
    height: 18px;
    border-right: 1px solid;    
    right: -15px;
}
i.glyphicon.glyphicon-search:hover {
    color: #32502e;
}
.statics-div {
    padding: 75px 0px;
}
.statics-div .row {
    justify-content: space-between;
    margin-bottom: 30px;
}
.orders-info{
     border-radius: 20px;
    padding: 40px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 30% !important;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.order-bg-blue{
  background-color: #1D3A7D; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #1D3A7D , #6286BC);
}
.order-bg-green{
  background-color: #32502E; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #32502E , #307826);
}
.order-bg-red{
  background-color: #1D3A7D; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #850707 , #E81E25);
}
.order-no-bg{
    color: #484848;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
    font-size: 30px;
}
.row3-order {
    font-size: 15px;
    padding: 10px !important;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.row3-order p {
   margin-bottom: 0px;
}
.row3-order2 {
    width: 63% !important;
    display: flex;
    justify-content: space-around;
display: -webkit-flex;
-webkit-justify-content: space-around;
}
.dashboard-container .container{
    max-width: 90% !important;
}
.chart-wrap {
    padding: 40px 70px !important;
}
.orders-info.order-no-bg.price-dashboard {
    width: 100% !important;
    margin-bottom: 30px;
}
.chart2-wrap {
    width: 100%;
border-radius: 20px;
    padding: 40px 20px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
canvas#myChart2 {
    max-height: 150px !important;
    width: 100%;
}
.orders-wrap{
    width: 30%;
}
.orders-wrap .orders-info {
    width: 100% !important;
    margin-bottom: 30px;
}
canvas#ctx {
    width: 100% !important;
    height: auto !important;
}
.new-orders-inner {
    padding: 30px 0px 70px;
}
.dashboard-order {
    display: flex;
    background-color: #406343;
    color: #fff;
    padding: 10px 0px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin: 20px 0px;
    justify-content: space-between;
        -weblit-display: flex;
    -wepkit-justify-content: space-between;

}

.dashboard-order p {
    margin-bottom: 0px !important;
    padding-left: 10px;
}
.show-details{
    position: relative;
    padding-left: 10px;

}
.row.row3 {
    padding: 0px 15px;
}
p.service-name-dashboard {
    padding-right: 10px;
}
.dashboard-orders-wrap {
/*    position: absolute;*/
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    width: 100%;
/*    top: 55px;*/
    color: #484848;
    box-shadow: rgb(0 0 0 / 35%) 0px 2px 7px;
}
div#new-orders {
    min-height: 700px;
}
.order-details-dashboard {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border-bottom: 1px solid #919191;
    margin-bottom: 10px;
}
.order-details-dashboard p{
    color: #919191;
    width: 100%;
}
p.dashboard-name {
    width: 45%;
    border-bottom: 1px solid #919191;
    padding-bottom: 10px;
}
.client-full-name {
    border-bottom: 0;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.client-number-dashboard{
    direction: ltr;
    text-align: right;
}

p.chosen-service {
    background-color: #DADADA;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #000;
    width: auto;
}
.order-details-dashboard.details-and-file {
    height: 100px;
    overflow-y: scroll;
    overflow-x: clip;    
    position: relative;
}
.dashboard-signup-files {
    position: absolute;
    bottom: 5px;
    left: 0;
}
.dashboard-signup-files label {
    font-weight: 500;
    color: #919191;
    cursor: pointer;
}
.details-and-file p {
    width: 100%;
    padding-left: 5px;
}
.dashboard-order-outer-container {
    margin-bottom: 40px;
}
.services-select {
    flex-wrap: wrap;
}
p.dashboard-info-email {
    overflow: visible;
    height: 100%;
    margin-bottom: 0px;
    width: 100%;
white-space: normal;
    word-break: break-all;
}
button.btn.accept-order {
    color: #fff;
    background-color: #1B6710;
    border-radius: 10px;
    margin: 0px 10px;
    white-space: normal;
    word-wrap: break-word;
}
button.btn.refuse-order {
    background-color: #BF0000;
    color: #fff;
    border-radius: 10px;
    margin: 0px 10px;
    white-space: normal;
    word-wrap: break-word;
}
.order-details-dashboard.dashboard-buttons-wrap {
    justify-content: center;
    border: 0;
    margin-bottom: 0;
}
img.show-details-arrow {
    width: 20px;
    margin-right: 10px;
}
.manegment-div {
    padding: 0px 40px;
}

div#management-select {
    width: 170px !important;
    margin-bottom: 20px;
}

.manegment-select.form1-select .select-items div, .manegment-select.form1-select .select-selected {
    color: #fff;
    background-color: #406343;
    font-weight:600;
    font-size: 16px;
}
.manegment-select.form1-select .select-selected:after {
    position: absolute;
    content: "";
    top: 5px !important;
    left: 20px;
    background: url(../img/down-arrow.png);
    background-position: center;
    background-size: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border: none;
}
.manegment-select.form1-select .select-selected:after {
    position: absolute;
    content: "";
    top: 5px !important;
    left: 10px;
    background: url(../img/down-arrow.png);
    background-position: center;
    background-size: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}
.manegment-select.form1-select .select-selected:before {
    position: absolute;
    content: "";
    top: 11px !important;
    left: 52px;
    background-position: center;
    width: 5px;
    height: 17px;
    border-right: 1px solid #B6B6B6;
}
.manegment-select.form1-select .select-items {
    background-color: #406343;
}
.management-details textarea.form-control {
    background-color: unset;
    border: none;
    padding: 0px;
    box-shadow: unset;
    outline: 0;
}
.management-details textarea.form-control::placeholder {
    color:#6d6d6d ;
}
button.btn.save-data {
    width: 100%;
    background-color: #406343;
    border-radius: 46px;
    color: #fff;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.btn.add-new-btn {
    width: 100%;
    background-color: #406343;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px;
    display: flex;
    -webkit-display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    padding: 8px;
    position: relative;
    max-width: 300px;
    flex-wrap: wrap;
    white-space: normal;
}

button.btn.add-new-btn:before {
    position: absolute;
    content: "";
    top: 11px !important;
    left: 25%;
    background-position: center;
    width: 5px;
    height: 17px;
    border-right: 1px solid #B6B6B6;
}
img.plus-icon-btn {
    width: 18px;
    position: relative;
}

/*
img.plus-icon-btn::before {
    width: 18px;
        position: absolute;
    content: "";
    top: 11px !important;
    left: 25%;
    background-position: center;
    width: 5px;
    height: 17px;
    border-right: 1px solid #B6B6B6;
}
*/
div#jobs-select {
    max-width: 300px;
    margin-bottom: 20px;
}
.jobs-select.form1-select .select-items div,.jobs-select.form1-select .select-selected {
    color: #fff;
    background-color: #FF7810;
    font-weight: 600;
    font-size: 16px;
}
.jobs-select.form1-select .select-selected:after {
    position: absolute;
    content: "";
    top: 5px !important;
    left: 20px;
    background: url(../img/down-arrow.png);
    background-position: center;
    background-size: 15px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border: none;
}
.jobs-select.form1-select .select-selected:before {
    position: absolute;
    content: "";
    top: 11px !important;
    left: 25%;
    background-position: center;
    width: 5px;
    height: 17px;
    border-right: 1px solid #fff;
}
.jobs-select.form1-select .select-items {
    height: auto;
}
.login-form-form-group.dashboard-col.input-dashboard {
    width: 50%;
}
.input-dashboard.input-dashboard-job {
    width: 100% !important;
    display: flex;
    border: 0;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.input-dashboard-job input.input-field {
    width: 45%;
    border-bottom: 1px solid #919191;
}
.input-dashboard-job input.input-field:focus {
    border-bottom: 1px solid #919191;
}
.settings-inner {
    padding: 20px;
}





#dashboard-table {
  border-collapse: collapse;
  width: 100%;
background-color: white;
border-radius: 10px;
}

#dashboard-table td, #dashboard-table th {
  border: 1px solid #C4C4C4;
  padding: 10px 20px;
    border-top: 0;
}
#dashboard-table td, #dashboard-table th {
  border: 1px solid #C4C4C4;
  padding: 10px 20px;
    border-top: 0;
}

#dashboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
    text-align: center;;
    color: #32502e;
    font-weight: 500;
    min-height: 180px;
    word-wrap:break-word;
}
.table-wrap {
    margin-top: 40px;
}
li.page-item a {
    color: #EE8C00 !important;
}
.editing-buttons {
    display: flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}
.editing-buttons i.fas.fa-edit {
    background-color: #32502e;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}
.editing-buttons i.far.fa-trash-alt{
    background-color: #EE8C00;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
div#management-select.show-select {
    width: 130px !important;
    margin-bottom: 0px;
}

.input-group.tables-search {
    max-width: 300px;
}
.pre-table-div {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
input.form-control.tables-search-input {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
button.btn.btn-default.tables-search-button {
    border-radius: 0!important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}



.statics-p, .orders-p, .management-p, .settings-p, .signout-p{
    position: relative;
}
.statics-p:before{
position: absolute;
    content: "";
    top: 0px !important;
    right: -35px;
    background-position: center;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/fluctuation.png)
}
.orders-p:before{
position: absolute;
    content: "";
    top: 0px !important;
    right: -35px;
    background-position: center;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/choices.png)
}
.management-p:before{
position: absolute;
    content: "";
    top: 0px !important;
    right: -35px;
    background-position: center;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/management.png)
}
.settings-p:before{
position: absolute;
    content: "";
    top: 0px !important;
    right: -35px;
    background-position: center;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/settings.png)
}
.signout-p:before{
position: absolute;
    content: "";
    top: 0px !important;
    right: -35px;
    background-position: center;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/log-out.png)
}
.table-tab-name {
    color: #32502e;
}
.before-table-div {
    min-height: 100px;
    padding: 10px 0px;
}
/*************************************Responsive***********************************/
@media (max-width:1450px){
h1.carousel-h1 {
    font-size: 30px;
    line-height: 50px;
}
 h2.form-h1 {
    font-size: 20px;
}  
  form.carousel-form input {
    height: 40px;      
}
.form1-select .select-selected {
    height: 40px;
    }
.service-wrap p.p1 {
    font-size: 15px;
}
h4 {
    font-size: 22px !important;
}
}

@media (max-width:1120px){
.service-wrap {
    width: 50% !important;
    margin-bottom: 30px;
}
}

@media (max-width:1025px){
.controlpanel p {
    font-size: 15px;
    margin-right: 5px;
    }
.tablinks p {
    font-size: 14px;
    margin-right: 0;
    }
h4.panel-title {
    font-size: 14px !important;
        margin-right: 0;
    }
.orders-wrap .orders-info {
    font-size: 20px;
}
}

@media (max-width:992px){
.second-section-inner {
    flex-direction: column-reverse;
}
.second-section-left {
    margin-bottom: 30px;
}
.col-lg-3.footer-div {
    text-align: center;
    margin-bottom: 30px;
    width: 50%;
}
.social-media-footer {
    justify-content: center;
    }
    .login-logo {
   display: none;
}
.login-logo-mobile {
    display: flex;
}
.login-logo-mobile:after {
    display: block;
}
.chart-wrap {
    width: 100% !important;
    margin-top: 30px !important;
    padding: 30px 15px !important;
}
.col-lg-4 {
    padding: 0px;
}
.row.row4 {
    padding: 0px 15px;;
}
.login-form-form-group.dashboard-col.input-dashboard {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
}

@media (max-width:845px){
ul.main-menu li a {
    font-size: 15px;
}
.personal-info-wrap {
    width: 50%;
}
.search-wrap {
    width: 50%;
}
form.navbar-form {
    width: 100%;
    }
.row3-order2 {
    width: 100% !important;
    }
.input-dashboard-job input.input-field {
    width: 100%;
    margin-bottom: 10px;
    }
.input-dashboard.input-dashboard-job {
    width: 100% !important;
    flex-direction: column;
    }
.panel-heading h4:after {
    left: -23px;
    }
}

@media (max-width:768px){
    .login-links{
        display: none;
    }
.fas.fa-sign-out-alt.top-bar-icon {
    display: block;
}

img.hamburger-menu {
    display: block;
}
a.phone-number {
    margin-right: 10px;
    }
ul.main-menu {
    display: none;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row-reverse;
    padding-right: 0px;
}
.mobile-menu ul.main-menu {
    display: block;
}
a.green-button {
    width: 150px;
}
.container {
    width: 100% !important;
    }
.form-container {
    width: 90% !important;
    margin: 0 auto;
}
.item-inner {
    flex-direction: column;
    justify-content: flex-start;
}
.text-wrap-carousel {
    margin: 40px 0px !important;
}
.form-container {
    margin: 70px 0px;
}
.owl-one .item {
    position: relative;
    height: auto;
    min-height: unset;
    }
.container.row.item-inner {
    padding-bottom: 50px;
}
.owl-one button.owl-next {
    left: 20%;
    right: unset;
    bottom: 40px;
    }
.owl-one button.owl-prev {
    bottom: 40px;
    }
.s2-image-container img {
    width: 100%;
    margin-bottom: 30px;
}
.service-wrap {
    width: 100% !important;
    margin-bottom: 30px;
}
 .footer {
    padding: 50px 0px;
}
.right-sidebar-open {
    width: 145px !important;
}
.left-container-width1 {
    width: -webkit-calc(100% - 145px);
    width: -moz-calc(100% - 145px);
    width: calc(100% - 145px)!important;
}
.col-lg-4.orders-info {
    width: 98% !important;
    margin-bottom: 15px;
}
.statics-div .row {
    justify-content: center;
}
.orders-wrap .orders-info {
    font-size: 20px;
    }
.personal-info-wrap {
    width: 100%;
    justify-content: space-between;
    padding: 0px !important;
}
.search-wrap {
    width: 100%;
    margin-top: 12px;
}
.dashboard-order {
    flex-direction: column;
}
    p.service-name-dashboard {
    width: 100%;
    text-align: center;
/*    margin-bottom: 10px !important;*/
    padding: 10px 14px;
    font-size: 14px;
}
p.show-details {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    }
.col-3.main-header-right {
    width: 50%;
}
.col-9.main-header-left {
    width: 50%;
}
}

@media (max-width:600px){

.second-section {
    padding: 50px 10px !important;
 }
.fifth-section-wrap {
    flex-direction: column !important;
    margin-bottom: 30px;
}
.fifth-section-text {
    text-align: center !important;
    padding: 0px !important;
}
.fifth-section-col2 {
    min-height: 400px;
}
.fifth-section-col1 {
    padding: 100px 0px !important;
    }
.a-wrap {
    width: 230px;
    }
    a.phone-number {
    display: none;
    }
.social-media-footer a.phone-number {
    display: block;
}
.mobile-menu {
    justify-content: start;
}
img.hamburger-menu {
    margin-right: 30px;
}
.login-section .item-inner {
    padding: 10px;
    padding-top: 30px;
}
p.form-p {
    font-size: 17px;
}
h1.login-h1 {
    margin-top: 0;
}

.login-form-container {
    padding: 125px 20px 50px !important;
    }
.confirmation-message h2 {
    font-size: 20px;
}
.confirmation-message h6 {
    font-size: 18px;
    }
.text-wrap-carousel {
    margin: 20px 0px !important;
}
.signup-section.container-fluid.login-section {
    height: auto;
    min-height: auto;
    padding-bottom: 30px;
}
.login-logo-mobile img {
    width: 75px;
}
.login-logo-mobile {
    font-size: 22px;
    }
.controlpanel p {
    font-size: 12px;
}

.row3-order2.chart-wrap {
    overflow: scroll !important;
}
canvas#ctx {
    height: 145px !important;
    width: 290px !important;
}
p.dashboard-name {
    width: 100%;
}
.order-details-dashboard.client-full-name {
    flex-direction: column;
    margin-bottom: 0;
}
.dashboard-orders-wrap {
    padding: 20px;
}
.personal-info-wrap {
    flex-wrap: wrap;
    justify-content: center;
}
.col-lg-4.row4-div1 {
    padding: 0;
}
    .order-no-bg.price-dashboard{
        font-size: 25px;
}
 .order-details-dashboard.dashboard-buttons-wrap {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
button.btn.accept-order {
    margin-bottom: 15px;
}
i.fas.fa-cog, i.fas.fa-bell {
    margin: 0px 7px;
}

.row3-order2 {
    flex-direction: column;
}
.row3-order2 p {
    margin-bottom: 10px;
}
.right-sidebar-closed {
    width: 50px !important;
}
.left-container-width2 {
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px)!important;
}
    i#hamburger-icon {
    font-size: 20px;
}
button.btn.accept-order, button.btn.refuse-order, .manegment-select.form1-select .select-items div, .manegment-select.form1-select .select-selected {
    font-size: 14px;
}
 div#management-select.show-select {
    width: 100px !important;
     margin-bottom: 10px;
} 
.pre-table-div {
    flex-direction: column;
    align-items: flex-start;
}
.tables-search-container {
    width: 100%;
}
.input-group.tables-search {
    max-width: 100% !important;
}
}

@media (max-width:465px){

    a.green-button {
    width: 100px;
    font-size: 14px;
    height: auto;
}
    .top-bar-icon img {
    width: 20px;
}
.form-group.name-line {
    flex-direction: column;
}
.form-group.name-line input {
    width: 100%;
    margin-bottom: 20px;
}
.form-group.name-line input:last-child {
    margin-bottom: 0px;
}
.form-buttons {
    flex-direction: column;
}
button.form1-btn {
    width: 100%;
    margin-bottom: 10px;
    }
label.upload-file-label {
    width: 100%;
}
.form-container {
    background-color: #f3efccf2;
    padding: 25px 20px !important;
}
h1.carousel-h1 {
    font-size: 20px;
    line-height: 40px;
}
img.hamburger-menu {
    margin-right: 0px;
}
.col-lg-3.footer-div {
    width: 100%;
    padding: 0px 20px;
}
.login-form-form-group.name-holder {
    flex-direction: column;
    height: unset;
    margin-bottom: 0;
    
}
.name-holder input.input-field {
    width: 100% !important;
    margin-bottom: 20px;
    }
.form-group {
 margin: 10px 0px;
}
.login-logo-mobile:after {
    width: 100%;
}
.login-logo-mobile {
    font-size: 25px;
}
div#management-select {
    width: 100% !important;
}
.manegment-select.form1-select .select-selected:before {
    left: 44px;
    }
.col-lg-7.dashboard-col {
    padding: 0;
}
.dashboard-col {
    padding: 0;
}
    .dashboard-col .row {
    width: 100%;
    margin: 0 auto;
}
button.btn.add-new-btn{
    font-size: 14px;
}
    button.btn.add-new-btn:before {
    display: none;
}
.manegment-select.form1-select .select-selected:before {
   display: none;
}
.manegment-select.form1-select .select-items div, .jobs-select.form1-select .select-items div, .jobs-select.form1-select .select-selected{
    font-size: 14px;
}
.jobs-select.form1-select .select-selected:before {
    display: none;
    }
.jobs-select.form1-select .select-selected:after {
    left: 15px;
    }

}


@media (max-width:370px){
.login-logo-mobile img {
    width: 65px;
}
.login-logo-mobile {
    font-size: 22px;
}
}














